
body {
    background-color: #58d6e1;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    padding: 40px;
}


form {
    background-color: blanchedalmond;
    padding: 25px 30px;
    border-radius: 20px;
    width: 450px;        
    max-width: 100%;     
    box-shadow: 12px 
}


table {
    width: 100%;
}


th {
    font-size: 24px;
    padding-bottom: 15px;
    display: block;
}


input, select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #2a2929f1;
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 15px;
}

label {
    font-weight: bold;
    
}


button {
    width: 100%;
    background-color: #58d6e1;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    background-color: #48bac3;
}


@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    form {
        width: 1000%;
        padding: 20px;
        border-radius: 16px;
    }

    th {
        text-align: center;
    }
}


@media (max-width: 768px) {
    form {
        width: 90%;
    }
}


@media (max-width: 1024px) {
    form {
        width: 70%;
    }
}


@media (min-width: 1600px) {
    form {
        width: 500px;
    }
}